/*选择图片框样式*/
#div_imgfile {
    width: 1.2rem;
    text-align: center;
    line-height: .25rem;
    height: .25rem;
    margin: auto;
    font-size: .12rem;
    box-sizing: border-box;
    cursor: pointer;
    background: #418bc8;
    color: white;
    border-radius:5px ;
    margin-top: .1rem;
}
 /*选择图片框鼠标移入移出效果*/
.imgfile {
    display: none;
}
#div_imgfile {
    width: 1.2rem;
    text-align: center;
    line-height: .25rem;
    height: .25rem;
    margin: auto;
    font-size: .12rem;
    box-sizing: border-box;
    cursor: pointer;
    background: #418bc8;
    color: white;
    border-radius: 5px;
    margin-top: .1rem;
}

/*这里是图片预览容器样式*/
#div_imglook {
    padding-top:.1rem;
    background: white;
}

/*单个图片预览模块样式*/
.lookimg {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}
.shang_img{
	background: white;
	padding-bottom: .1rem;
}

    .lookimg img {
        width: 100%;
    }

/*删除按钮样式*/
.lookimg_delBtn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: rgba(0,0,0,0.8);
    opacity: 0.8;
    color: white;
    font-size: 16px;
    font-family: 微软雅黑;
    display: none;
    cursor: pointer;
    color: red;
}

/*删除按钮移入移出效果*/
.lookimg_delBtn:hover {
        opacity: 1;
    }
.lookimg_delBtn:cursor{
	background: #418bc8;
}
/*上传进度条样式*/
.lookimg_progress {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    box-sizing: border-box;
    border: 1px solid black;
    display: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

    .lookimg_progress div {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 0px;
        background-color: #e9cc2e;
    }


/*确定上传按钮样式*/
#btn_ImgUpStart {

}
