@charset "utf-8";

/*【重定义浏览器默认样式】*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
button,
input,
textarea,
header,
footer,
nav {
	margin: 0;
	padding: 0;
}

ul,
ol,
dl {
	list-style-type: none;
}

html,
body {
	*position: static;
	background: #eee;
}

html {
	font-family: "microsoft yahei";
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

input {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	color: #929292;
	font-size: 0.12rem;
}

::-moz-placeholder {
	color: #929292;
	font-size: 0.12rem;
}

::-moz-placeholder {
	color: #929292;
	font-size: 0.12rem;
}

:-ms-input-placeholder {
	color: #929292;
	font-size: 0.12rem;
}


/*【重定义浏览器默认样式】end*/


/*【公共样式聚合】*/

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.text_1_hide {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal !important;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.text_2_hide {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.loginBody_bg:before {
	background: url(../images/login_bg.png) no-repeat;
}

.body_bg:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: 1;
}

.contMian {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 2;
}

/*【公共样式聚合】 end*/


/*【头部组件】*/

.header {
	position: relative;
	width: 100%;
	height: 0.38rem;
	background: none;
}

.header_title {
	font-size: 0.14rem;
	line-height: 0.38rem;
	text-align: center;
	color: #fff;
}

.header a {
	position: absolute;
	top: 50%;
	display: block;
	width: 0.12rem;
	height: 0.12rem;
	margin-top: -0.06rem;
}

.header a>img {
	display: block;
	width: 0.12rem;
	height: 0.16rem;
}

.header_l {
	left: 20px;
}
.commHeader {
	position: relative;
	width: 100%;
	height: 0.38rem;
	background: #418bc8;
}
.commHeader a {
	position: absolute;
}
.commHeader_l {
	left: 20px;
	top: 50%;
	margin-top: -0.1rem;
}
.commHeader_l img {
	display: block;
	height: 0.2rem;
}
.commHeader h6 {
	color: #fff;
	text-align: center;
	font-size: 0.13rem;
	line-height: 0.38rem;
}
.commHeader_r {
	display: inline-block;
	right: 20px;
	top: 0;
	height: 0.38rem;
	z-index: 9;
}
.commHeader_r span {
	color: #fff;
	font-size: 0.12rem;
	line-height: 0.38rem;
}
.commHeader_r img {
	display: inline-block;
	width: 0.12rem;
	height: auto;
}
/*【头部组件】 end*/


/*【登录】*/
.headerLogin {
	background: none;
}
.loginCont {
	width: 75%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 0.8rem;
}

.loginCont_form {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.loginCont_form_item {
	position: relative;
	width: 100%;
	height: 0.32rem;
	background: rgba(87, 87, 84, .7) !important;
	border-radius: 5px;
	margin-bottom: 0.12rem;
}

.loginCont_form_item>img {
	position: absolute;
	left: 0.1rem;
	top: 50%;
	display: block;
	width: auto;
	height: 0.16rem;
	margin-top: -0.08rem;
}

.loginCont_form_item input {
	display: block;
	height: 0.32rem;
	color: #fff;
	font-size: 0.12rem;
	line-height: 0.45rem;
	outline: none;
	border: none;
	background: none;
	box-sizing: border-box;
	padding-right: 0.1rem;
}

.loginCont_form_item .loginCont_form_itemAll {
	width: calc(100% - 0.25rem);
}

.loginCont_form_info {
	width: 100%;
	height: 0.25rem;
}

.loginCont_form_info a {
	color: #fff;
	font-size: 0.1rem;
}

.loginCont_form_info a:nth-of-type(1) {
	padding-left: 0.12rem;
}

.loginCont_form_info a:nth-of-type(2) {
	padding-right: 0.12rem;
}

.loginCont_form .loginBtn {
	border: none;
	outline: none;
	color: #fff;
	height: 0.32rem;
	font-size: 0.12rem;
	line-height: 0.32rem;
	background: rgb(65, 139, 200);
	padding: 0;
	margin-top: 0.15rem;
}

.free_login {
	display: block;
	width: 1rem;
	height: 0.28rem;
	color: #fff;
	font-size: 0.11rem;
	padding: 0.1rem 0.15rem;
	margin: 0 auto;
	text-align: center;
}
.layui-m-layer-msg .layui-m-layercont {
	background: rgba(87,87,84,.5) !important;
	border-radius: 5px;
	color: #f10000;
}

/*【登录】 end*/

/*【免密登录】*/
.free_input_code {
	background: rgba(87, 87, 84, .7) !important;
	color: white;
	border: none !important;
	width: 50% !important;
}
.free_code {
	width: 40%;
	margin-left: 0.2rem;
	padding: 0;
	margin-top: 0 !important;
}

.free_gray {
	margin-bottom: .8rem !important;
}
/*【免密登录】end*/

/*【找回密码】*/
.forget_appeal{
	width: 76%;	
}
.forget_bott{
	margin-bottom: .4rem;
}
/*【找回密码】end*/

/*【注册】*/
.reg_btn{
	margin-top: .4rem !important;
}
/*【下单】*/
.order_info{
	width: 100%;
	background: white;
}
.order_info>div{
	padding: 0 20px;
	margin: .1rem 0;
	box-sizing: border-box;
	position: relative;
}
.order_info>div:last-of-type{
	border-top:solid 1px #eee ;
}
.shipper img{
	margin-top: .1rem;
}
.shipper label{
	display: inline-block;
	position: absolute;
	top: .15rem;
	left: .5rem;
	font-size: .13rem;
	
}
/*【下单】end*/

/*【首页】*/
.nav {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: rgb(255,255,255);
	padding: 0.2rem 0;
}
.nav a {
	width: 25%;
	height: auto;
	overflow: hidden;
	text-decoration: none;
	float: left;
}
.nav a img {
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 0.03rem;
}
.nav a p {
	color: #333;
	font-size: 0.12rem;
	text-align: center;
}
.footerMenu {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	font-size: 0.13rem;
	overflow: hidden;
	background: rgb(255,255,255);
	border-top: 1px solid #e3e1e1;
	padding: 0.02rem 0;
}
.footerMenu a {
	display: block;
	width: 20%;
	height: auto;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	float: left;
}
.footerMenu a img {
	display: inline-block;
	height: 0.2rem;
	width: auto;
}
.footerMenu a p {
	color: #666;
	font-size: 0.1rem;
}
.footerMenu .active p {
	color: #418bc8;
}
.findTitle {
	position: relative;
	height: 0.35rem;
	width: 100%;
	color: #666;
	font-size: 0.12rem;
	line-height: 0.35rem;
	text-indent: 30px;
	box-sizing: border-box;
	padding: 0 20px;
}
.findTitle img {
	position: absolute;
	top: 0.09rem;
	left: 20px;
}
.list {
	width: 100%;
	height: 2.4rem;
	overflow: hidden;
	background: rgb(255,255,255);
	padding-bottom: 0.04rem;
	margin-bottom: 0.48rem;
}
.eyesList {
	width: 100%;
	height: 2.4rem;
	box-sizing: border-box;
	padding: 0 20px;
	margin-top: 0;
}
.eyesList li a {
	display: block;
	position: relative;
	width: 100%;
	height: 0.4rem;
	color: #333;
	font-size: 0.12rem;
	line-height: 0.4rem;
	border-bottom: 1px solid #e3e1e1 !important;
}
.eyesList li a span {
	display: block;
	float: left;
}
.eyesList li a span:nth-of-type(1) {
	width: 0.4rem;
}
.eyesList li a span:nth-of-type(2) {
	width: calc(100% - 1rem);
	margin-left: 0.2rem;
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal !important;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.eyesList li a span:nth-of-type(3) {
	width: 0.3rem;
	height: 0.3rem;
	text-align: center;
	line-height: 0.3rem;
	border-radius: 50%;
	background: rgb(240,211,73);
}
@font-face {
    font-family: "eyesFont";
    src: url("fonts/eysFont.ttf");
}
.eyesList li>a div {
	position: absolute;
	top: 50%;
	right: 0;
	width: 0.28rem;
	height: 0.28rem;
	text-align: center;
	color: #2e97ee;
	font-size: 0.13rem;
	font-family: "eyesFont";
	line-height: 0.3rem;
	border-radius: 50%;
	background: rgb(240,211,73);
	margin-top: -0.14rem;
}
.banner_item {
	position: relative;
}
.banner_text {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
	color: #cecece;
	padding: 0.06rem 20px;
	box-sizing: border-box;
}
.banner_on>.mui-indicator{
	margin: 30px 1px;
	width: 8px;
	height: 8px;
	background: rgb(170,214,211);
}
.banner_on>.mui-active {
	background: rgb(15,237,229) !important;
}
/*【首页】 end*/