@charset "UTF-8";
/**CSS Reset**/
body, div, span, h1, h2, h3, h4, h5, h6, header, footer, section, article, aside, details, figcaption, figure, hgroup, nav, menu, address, time, canvas, audio, video, p, pre, sup, sub, ul, ol, li, dl, dt, dd, form, input, button, textarea, select, iframe, img, a { padding: 0; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
header, footer, section, article, aside, details, figcaption, figure, hgroup, nav, menu { display: block; }
html, body { font-size: .12rem; -webkit-overflow-scrolling: touch; }
body { background-color: #eee; color: #333; font-family: "Helvetica Neue", "Microsoft Yahei", Tahoma, Arial, Roboto, "Droid Sans", "Droid Sans Fallback", "Heiti SC", sans-self; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
ul, ol { list-style-type: none; }
a { color: #333; text-decoration: none; outline: none; }
a:link, a:visited, a:hover, a:active { color: #333; outline: none; }

.browser { position: relative; width: 320px; overflow: hidden; border-bottom:solid 1px #eee ; }
@media (min-width: 721px) and (max-width: 1300px) {
	.browser { width: 50%; }
}
@media (max-width: 720px) {
	.browser { width: 100%; }
}
/*选择地区*/
.express-area {background-color: #fff;}
.express-area a { display: block; background: url(../images/icon/link-arrow.png) no-repeat 98% 50%; background-size: .1rem .1rem; }
.express-area dl { position: relative;  }
.express-area dl dt { position: absolute; top: 0; left: 0; font-size: .12rem;height: .3rem; line-height: .3rem; }
.express-area dl dd {margin-left: .7rem; text-align: justify; font-size: .12rem; height: .3rem; line-height: .3rem; }
@media (min-width: 721px) and (max-width: 1300px) {
	.express-area dl dt { font-size: .12rem; }
	.express-area dl dd { padding-right: .6rem; margin-left: 3rem; font-size: .12rem;  }
}
/*选择地区弹层*/
.express-area-box { position: absolute; bottom: -100%; left: 50%; z-index: 15; width: 320px; margin-left: -160px; background-color: #fff; color: #4d525d; }
.express-area-box header { position: relative; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; }
.express-area-box header h3 { text-align: center; font-size: .15rem; height: .5rem;line-height: .5rem; color: #1aac19;border-bottom: 2px solid #1aac19; }
.express-area-box header .back,
.express-area-box header .close { position: absolute; top: 0; width: 1.675rem; }
.express-area-box header .back { display: none; left: 0; background: url(../images/back.png) no-repeat center;   background-size: .45rem .75rem; }
.express-area-box header .close { right: 0; background: url(../images/close-area.png) no-repeat center; background-size: .675rem .675rem; }
.express-area-box article { height: 250px; overflow-y: scroll; }
.area-list li {  border-bottom: 1px solid #e2e2e2; text-align: center; font-size: .15rem; line-height: .4rem; }
@media (min-width: 721px) and (max-width: 1300px) {
	.express-area-box { width: 224px; margin-left: -112px; }
	.express-area-box header h3 { font-size: .12rem;}
	.express-area-box header .back,
	.express-area-box header .close { height: .2rem; }
	.express-area-box article { height: .3rem; }
	.area-list li { font-size: .12rem; line-height: .1rem; }
}
@media (max-width: 720px) {
	.express-area-box { position: fixed; left: 0; width: 100%; margin-left: 0; }
}
/*遮罩层*/
.mask { display: none; position: absolute; top: 0; left: 0; z-index: 12; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); }
@media (max-width: 720px) {
	.mask { position: fixed; }
}